body{
    margin: 0;
    padding: 0;
}

.header{
        
    display: flex;
    justify-content: space-between;
    background-color: rgb(222, 229, 185);
    padding: 10px;
}
.header ul{
   display: flex;
    list-style: none;
    width: auto;
    justify-content: space-around;
    width: 200px;
}
.header ul li{
    padding: 10px;
}
.header .link h2{
    margin: 0;
}
.header .link{
    text-decoration: none;
}